.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  
  .flexContainer :global(.theme-code-block) {
    margin-left: 12px;
    margin-bottom: 0;
    display: flex;
  }
  
  .flexContainer :global(.theme-code-block) code {
    padding: 12px;
  }

  .methodBlock {
    font-size: var(--ifm-code-font-size);
    line-height: var(--ifm-pre-line-height);
    color: #fff;
    padding: 8px;
    margin: 0;
    border-radius: 6.4px;
    text-transform: uppercase;
  }
  
  .methodBlock_get {
    background-color: #61affe;
  }
  
  .methodBlock_post {
    background-color: #49cc90;
  }
  
  .methodBlock_put {
    background-color: #fca130;
  }
  
  .methodBlock_patch {
    background-color: #50e3c2;
  }
  
  .methodBlock_delete {
    background-color: #f93e3e;
  }
  
  @media (max-width: 996px) {
    .flexContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .flexContainer :global(.theme-code-block) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  