.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .flexContainer p {
    margin-top: 0;
    max-width: 50%;
  }
  
  .flexContainer img {
    width: 50%;
    height: 50%;
  }